
export/\.build

export/neko/bin/assets/data/data-goes-here\.txt

export/neko/bin/assets/GD1-project-tilemap1\.tmx

export/neko/bin/assets/GD1-tileset-image\.png

export/neko/bin/assets/images/images-go-here\.txt

export/neko/bin/assets/music/music-goes-here\.txt

export/neko/bin/assets/sounds/sounds-go-here\.txt

export/neko/bin/GameDevProj1\.exe

export/neko/bin/icon\.ico

export/neko/bin/lime\.ndll

export/neko/bin/manifest/default\.json

export/neko/haxe/ApplicationMain\.hx

export/neko/haxe/debug\.hxml

export/neko/haxe/final\.hxml

export/neko/haxe/ManifestResources\.hx

export/neko/haxe/release\.hxml

export/neko/obj/ApplicationMain\.exe

export/neko/obj/ApplicationMain\.n


export/neko/bin/

export/neko/haxe/

export/neko/obj/

export/

export/
